@{
	ViewData["Title"] = "ЛК";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container mt-5">
	<h1 class="mb-4">Личный кабинет</h1>
	<p class="lead">Добро пожаловать, @ViewData["name"]!</p>

	<form method="post" asp-action="Office" asp-controller="Office">
		<p>Сообщение</p>
		<div class="form-group">
			<label class="control-label">Кому</label>
			<input asp-for="To" class="form-control" name="To" />
		</div>
		<div class="form-group">
			<label class="control-label">Заголовок</label>
			<input asp-for="Title" class="form-control" name="Title" />
		</div>
		<div class="form-group">
			<label class="control-label">Текст</label>
			<textarea asp-for="Text" class="form-control" name="Text"></textarea>
		</div>
		<button class="btn btn-primary mt-4" type="submit">Отправить</button>
		<div class="my-4">@ViewData["Message"]</div>
	</form>

	<form method="get" asp-action="Office" asp-controller="Office">
		<div class="form-group form-check">
			<label class="form-check-label" for="Status">Непрочитанные</label>
			<input type="checkbox" class="form-check-input" id="Status" name="Status" asp-for="Status" />
		</div>
		<button class="btn btn-light mt-2" type="submit">Применить</button>
	</form>

	<table class="table mt-4">
		<thead>
			<tr>
				<th>Тема</th>
				<th>Дата</th>
				<th>От</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr class="@(item.Status == true ? "seen-true" : "seen-false")">
					<td>
						<a href="#" data-id="@item.Id" onClick='alert("@item.Text")'>@item.Title</a>
					</td>
					<td>@item.Date</td>
					<td>@item.From</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function () {
		let unreadLines = document.querySelectorAll(".seen-false");
		for (let i = 0; i < unreadLines.length; i++) {
			unreadLines[i].style.background = 'white';
		}

		let readLines = document.querySelectorAll(".seen-true");
		for (let i = 0; i < readLines.length; i++) {
			readLines[i].style.background = 'LightGray';
		}

		$('table a').click(function (e) {
			e.preventDefault();
			var messageId = $(this).attr('data-id');
			console.log(messageId);
			$.post('/Office/MarkAsRead/' + messageId, function () {
				$(this).closest('tr').removeClass('seen-false').addClass('seen-true').css('background-color', 'lightgray');
			}.bind(this));
		});
	});
</script>


